*{
    margin:0;
    padding:0;
}

.main{
  background-image:linear-gradient(to bottom right, rgba(0,0,0,0)50%,rgba(0,0,0,0.9)100%), url('bg.jpg');
  background-size: cover;
  background-position: center;
  height:100vh;
  width:100vw
}


@media (max-width: 768px) {
  .navbar ul {
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .navbar ul {
    gap: 10px;
    flex-direction: column;
  }
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 20px;
}

.navbar img{
  width: auto;
  height: 300px;
  margin-right: 40px;
  align-self: flex-start;
  padding: 0;
  margin: 0;
}
.navbar ul{
 display:flex;
 justify-content: space-between;
 align-items:center;
 padding: 0 20px;
 list-style: none;
 flex-grow:0;
 gap: 200px;
 margin-top:0 40px;
}

.navbar li{
  font-size: 24px;
  margin-top: 0;
}

.navbar a{
text-decoration:none;
color:black;
}

.navbar a:hover{
  color:orange;
}

.navbar button{
  padding:20px 40px;
  border: 2px solid black;
  border-radius:  50px;
  background-color:transparent;
  color: black;
  cursor:pointer;
  font-size: 24px;
  transition: all 0.3s ease;
  align-self: center;

}

.navbar button:hover{
  background-color:orange;
  color:white;
}
/*.search{
  display:flex;
  align-items:center;
  margin: left 20px;
}

.search input[type="search"]{
  padding:10px;
  border: none;
  border-radius:5px 0 0 5px;
}

.search button[type="submit"]{
  padding:10px;
  border:none;
  border-radius:0 5px 5px 0;
  background-color:orange;
  color:white;
} */


  
.hero{
  text-align:left;
  margin-top: 13px;
  color:white;
}

.hero h1{
  font-size:50px;
  margin-bottom:20px;
}

.hero p{
  margin-bottom: 20px;
}

.hero button{
 padding:10px 20px;
 border:none;
 border-radius:5px;
 background-color: orange;
 color:white;
}

.content .par{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content .h1{
  font-family: 'Times New Roman';
  font-size: 200px;
  padding-left: 20px;
  margin-top: 9%;
}
